<div class="card">
  <h2>Grid Direction</h2>
  <div class="text">
    Depending on the design of your website, you may need a grid layout to have the direction of right to left.
  </div>
  <div class="text">It's actually very simple, you only need to add one css property:</div>

  <div class="text">CSS</div>
  <pre><code [highlight]="css" [languages]="['css']"  [lineNumbers]="width < 600 ? false : true" ></code></pre>
  <div class="text">By default, this property is set to <code>ltr</code> (left to right).</div>

  <div class="date">Mar 13, 2023</div>
</div>
