<div class="card">
  <h2>Grid</h2>
  <div class="text">Grid is an extremely powerful tool if you know how to use it properly.</div>
  <div class="text">
    You always want to make sure you're making your websites responsive, so don't forget to adjust the columns for each
    media size:
  </div>
  <div class="text">HTML</div>
  <pre><code [highlight]="htmlcode" [languages]="['xml']"  [lineNumbers]="width < 600 ? false : true" ></code></pre>
  <div class="text top-padding">CSS</div>
  <pre><code [highlight]="csscode" [languages]="['css']"  [lineNumbers]="width < 600 ? false : true" ></code></pre>
  <div class="text">If you need the columns to be the exact same width you should use 'minmax':</div>
  <pre><code [highlight]="csscode2" [languages]="['css']"  [lineNumbers]="width < 600 ? false : true" ></code></pre>
  <div class="date">Feb 10, 2023</div>
</div>
