<div>
  <div class="sidebar-container">
    <div class="left">
      <div class="sticky">
        <button class="all" [class.active]="this.current == null" (click)="this.current = null">All Posts</button>
        <div *ngFor="let post of blog">
          <button (click)="showPost(post.id)" [class.active]="this.current == post.id">{{ post.title }}</button>
        </div>
      </div>
    </div>
    <div class="right">
      <h1>Courtney's Blog</h1>
      <div class="grid" [class.no-grid]="current != null">
        <div class="grid-gap">
          <app-tiny-mce *ngIf="current == 6 || current == null" [width]="width"></app-tiny-mce>
          <app-grid-direction *ngIf="current == 5 || current == null" [width]="width"></app-grid-direction>
          <app-zip *ngIf="current == 4 || current == null" [width]="width"></app-zip>
          <app-ios-search *ngIf="current == 3 || current == null" [width]="width"></app-ios-search>
          <app-media-queries *ngIf="current == 2 || current == null" [width]="width"></app-media-queries>
          <app-grid *ngIf="current == 1 || current == null" [width]="width"></app-grid>
        </div>
        <div class="grid-gap">
          <app-centering *ngIf="current == 0 || current == null" [width]="width"></app-centering>
        </div>
      </div>
    </div>
  </div>
</div>
