<!-- <div class="card">
  <h2>"return" not working on IOS input</h2>
  <div class="text">
    On Apple IOS mobile devices, by default, the shift key is automatically selected. Therefore,
    <code>keyup.enter</code> will not capture the "enter" command.
  </div>
  <div class="text">To fix this, you will need to combine the "shift" and "enter" key capture:</div>
  <code><input (keyup.enter)="search()" (keyup.shift.enter)="search()" type="text" /></code>
  <div class="date">Feb 25, 2023</div>
</div> -->
<div class="card">
  <h2>"return" not working on IOS input</h2>
  <div class="text">
    On Apple IOS mobile devices, by default, the shift key is automatically selected. Therefore,
    <code>keyup.enter</code> will not capture the "enter" command.
  </div>
  <div class="text">To fix this, you will need to combine the "shift" and "enter" key capture:</div>
  <!-- <code><input (keyup.enter)="search()" (keyup.shift.enter)="search()" type="text" /></code> -->
</div>
