<div class="card">
  <h2>TinyMCE Word Count</h2>
  <div class="text">
    If you're using TinyMCE for your rich text editor, you may need to utilize their word count api. Their documentation
    doesn't explicitely explain how to use it in Angular, so here is what worked for me:
  </div>
  <div class="text">TS</div>
  <pre><code [highlight]="code" [languages]="['ts']"  [lineNumbers]="width < 600 ? false : true" ></code></pre>
  <div class="text">HTML</div>
  <pre><code [highlight]="html" [languages]="['html']"  [lineNumbers]="width < 600 ? false : true" ></code></pre>
  <div class="date">April 27, 2023</div>
</div>
