@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  background-color: #282c34;
  min-height: 100vh;
  color: white;
  margin: 50px 20px;
}

.grid {
  max-width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.grid-gap .card {
  margin-bottom: 30px;
}

.card {
  padding: 15px 25px;
  border-radius: 5px;
  background: #3d4148;
  .text {
    line-height: 1.7;
    margin-bottom: 10px;
  }
  .date {
    text-align: end;
    padding: 12px 0 2px;
    font-size: 14px;
    font-style: italic;
  }
}

.code-block {
  padding: 10px 17px;
  margin: 15px 0;
  .inner {
    margin: 10px 0 0 20px;
  }
  background: #c0c2c4;
  color: #282c34;
  font-weight: bold;
  border-radius: 5px;
}

code {
  font-family: Courier New, monospace !important;
  padding-left: 15px !important;
  //   background: #c0c2c4;
  //   color: #282c34;
  //   padding: 3px 7px;
  font-weight: 600;
  //   border-radius: 3px;
}

h2 {
  margin-top: 5px !important;
}

@media screen and (max-width: 1280px) {
  .grid {
    max-width: 85%;
    gap: 20px;
  }
  .grid-gap .card {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 959px) {
  .grid {
    max-width: 90%;
    grid-template-columns: 1fr;
    gap: 0;
  }
}

@media screen and (max-width: 599px) {
  body {
    margin: 20px;
  }
  .grid {
    max-width: 100%;
  }
  .card {
    padding: 10px 15px;
    .text {
      font-size: 15px;
    }
  }
  code {
    font-size: 12px !important;
  }
}
